# Backend
backend/venv/
backend/.venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/.env
backend/medical_camp.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# General
.DS_Store
*.pyc
.vercel